#app {
    display: flex;
    height: 500px;
}
#editor {
    border-style: solid;
    width: 50%;
}
#console {
    border-style: solid;

    width: 50%;
}

#buttons {
    display: flex;
}

input {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
    font-size: 20px;
}